@{
    ViewData["Title"] = "Strona Główna";
}

<div class="container">
    <h1>Witaj w aplikacji Drinki!</h1>
    <p>Znajdź swoje ulubione drinki lub dodaj własne przepisy!</p>
    
    <div class="row">
        <div class="col-md-4">
            <h3>Najpopularniejsze Drinki</h3>
            <p>Przejrzyj naszą kolekcję najczęściej wybieranych drinków.</p>
            <a href="/Drink" class="btn btn-primary">Zobacz Drinki</a>
        </div>
        <div class="col-md-4">
            <h3>Dodaj Nowy Drink</h3>
            <p>Masz swój ulubiony przepis? Podziel się nim z innymi!</p>
            <a href="/Drink/Create" class="btn btn-success">Dodaj Drink</a>
        </div>
        <div class="col-md-4">
            <h3>Kategorie</h3>
            <p>Przeglądaj drinki według kategorii.</p>
            <a href="/Category" class="btn btn-info">Zobacz Kategorie</a>
        </div>
    </div>
</div>
