@{
    ViewData["Title"] = "Strona Główna";
}

<div class="container">
    <h1>Witaj w aplikacji Drinki!</h1>
    <p>Znajdź swoje ulubione drinki lub dodaj własne przepisy!</p>
    
    <div class="row">
    </div>
</div>
